#main{background-color: rgb(242, 243, 243);}
#footer{margin:1%;display:grid;grid-template-columns: 20% 20% 20% 40%;background-color: #474747;color:white}
#footer .col{font-size:13px;}
#footer .col .text{font-weight:100;line-height: 2em;font-family: Montserrat,sans-serif;}
.col {margin-left: 50px;}
#col2{margin-right: 70px;}

a{ text-decoration: none; ;color: black;font-size: 12px;color: white;}
#footer .col .input{width:58%;}
.fa {padding: 5px;text-align: center;width:25px;text-decoration: none;margin: 10px;border-radius: 50%;}
.fa:hover {opacity: 0.7;}
.fa-facebook ,.fa-twitter, .fa-instagram, .fa-linkedin {background: white; color: black;}
#footer_mid_line{width: 1200px;margin-left: 18%;}
#main{background-color: #474747;color:white}
.f2{margin-left:60px;margin-right: 70px;;}
p{font-size:13px;}
#last{text-align:center}
hr{margin:0 5%}
#hiring{   margin-left: 15px;font-size: 11px;
padding: 1px 10px;opacity: 1;color: #fff;border-radius: 2px;background-color: #1dbdc0;}
